POSTGRES_USER=cpi
POSTGRES_PASSWORD=cpi_local_dev
POSTGRES_DB=cpi
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_URL=redis://localhost:6379/0

BRONZE_BACKEND=local
BRONZE_LOCAL_PATH=./data/bronze
DEADLETTER_LOCAL_PATH=./data/deadletter

LOG_LEVEL=INFO
ENV=dev
