.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfplan
crash.log

*/.terraform/
*/.terraform.lock.hcl
*/terraform.tfstate
*/terraform.tfstate.backup
*/terraform.tfvars
tfplan
